a {
  cursor: pointer;
}

:host ::ng-deep .hideele {
  display:none;
}
:host ::ng-deep  .mylink {
  display:none;
}
:host ::ng-deep  .editlink {
  display:none;
}
:host ::ng-deep  .titlename {
  display:none;
}

:host ::ng-deep .SmallInput {
  width: 80px;
  height: 20px;
  font-size: 12px !important;
}
/* :host ::ng-deep .form-control {
  height: 25px;
  font-size: 12px !important;
} */
:host ::ng-deep input:required:invalid {
  border: 2px solid red ;
}
:host ::ng-deep input:invalid {
  border: 2px solid red ;
}

:host ::ng-deep .customlabel {
  float: left;
  width:120px;
  padding-top:8px;
  white-space:normal;
  font-size: 12px;
  margin-left: 5px;
}

:host ::ng-deep .fieldlabel{
  font-size: 12px;
}
.sideheading{
  width: 193px;
  padding: 0px;
  margin-left: 38px;
  margin-top: -20px;
  margin-bottom: 12px;
}
/* .maincard-body{
  margin-right: -200px;
} */

/* .maincard{
padding: 0px;
} */

.sub-con{
  padding: 0px;
  cursor: pointer;
}
editicon{
  margin-left: 5px;
  color: red;
}
.formeditdata{
  margin-left: 25px;
}
.fmdataname{
  margin-bottom: 10px;
}
.deleteicon{
  margin-left: 2px;
  color: red;
}
.card-text{
  font-size: 14px;
}
.subcont{
  padding-left: 12px;
}
.maincard{
  height:auto;
  margin-bottom: 15px;
  margin-top:20px;
  margin-left: 10px;
}
.sinlinealign{
float: left;
}
.fa {
  font-size: 12px;
}

.card-group {
  -ms-flex-flow: row wrap;
  flex-flow: initial;
}
/* .container-fluid{
overflow-y: scroll !important;
} */
.imageicon{
  text-align: center;
   width: 35px;
   height: 35px;
   margin-left: 7px;
   margin-top: -30px;
}
.modal-content{
  padding: 10px;
}

.modal-footer{
  border: none;
  display: block;
}


/* :host ::ng-deep input:valid {
  border: 1px solid greenyellow;
} */
