a {
  cursor: pointer;
}

:host ::ng-deep .hideele {
  display:none;
}
:host ::ng-deep  .mylink {
  display:none;
}

:host ::ng-deep  .titlename {
  display:none;
}

:host ::ng-deep .SmallInput {
  width: 80px;
  height: 20px;
  font-size: 12px !important;
}
/* :host ::ng-deep .form-control {
  height: 25px;
  font-size: 12px !important;
} */
