<div  class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
<div  class="card" style="margin-top:15px;background-color: #DDDBD7;">
  <div class="card-body">
      <div class="row" >
          <div class="col-sm-2" *ngFor="let forms of formstemplatesArr; let j = index"  style="padding-top:30px;">
              <div class="card" style="height:135px" >
                  <img class="card-img-top imageicon"
                  src="https://cdn1.iconfinder.com/data/icons/mobile-device/512/doc-document-copy-file-blue-round-512.png" >
                  <a class="cardTitle" ><span style="margin-bottom: 25px;color: #145da0" (click)="gettemplateData(forms.id)" ><strong>{{forms.formName}}</strong></span>
                    <span (click)="gettemplateData(forms.id)"  class="editicon" style="color:red"><i class="fa fa-plus"></i></span>
                       <span (click)='deleteform(j,forms.formName)'  class="deleteicon"><i class="fa fa-trash delete"></i></span> </a>
                  <div class="card-body" style="padding:0px 10px -10px 10px;">
                      <div class="card-header" style="height:60px;overflow-y:auto;">
                               <div class="card-text">
                                  <ul class='subcont'>
                                    <li *ngFor="let formsaveData of forms.formData; let i=index" (click)="getformData(formsaveData.formDataId)"  ><a >{{formsaveData.formDataName}}</a>
                                      <span (click)="getformData(formsaveData.formDataId)"  class="editicon" style="color:red"><i class="fa fa-plus edit"></i></span>
                                      <span (click)='deleteformdata(i  ,forms.formName , formsaveData.formDataName)'  data-toggle="modal" data-target="#formdeletemodel" class="deleteicon"><i class="fa fa-trash delete"></i></span></li>
                                  </ul>
                               </div>
                          </div>

                  </div>
              </div>
          </div>
        </div>
      </div>
   </div>
</div>
</div>



    <div class="modal fade" id="formdeletemodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true "
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document " style="width:320px">
      <div class="modal-content ">
        <span style="font-size:12px;"><strong>Are you sure you want to delete?</strong></span>
        <div class="modal-footer">
          <button type="button " class="btn btn-sm btn-primary common_btn addbtn" id="okbtnform"  data-dismiss="modal" (click)="formdatadelete();">Yes</button>
          <button type="button "  class="btn btn-sm btn-primary common_btn addbtn mr-auto"  data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
   </div>



<div class="row" style='padding: 25px;' *ngIf="htmlcontentdiv">
  <div class="col-sm-8" >
        <div class="card-title" id="titleNone">{{templatename}}</div>
      <div class="card">
          <div class="card-body ">
            <form ngNativeValidate id="formDataHtml">
            <div #htmlcontent [innerHtml]="testhtml | sanitizeHtml" >
            </div>
           </form>
            <div class="createForm"  id="createForm" style="text-align:center;margin-right: 35%;"  *ngIf="createbutton">
                <button type="button" class="btn btn-success btn-sm" id="formdatpopId" (click)="formDatabyname('save')">Save</button>
                <button type="button" class="btn btn-success btn-sm" id="formdatpopId" (click)="formDatabynamecancel()">Cancel</button>
              </div>
          </div>
    </div>
  </div>
</div>

<div class="row" style='padding: 25px;' *ngIf="formhtmlcontentdiv" >
<div class="col-sm-8 "  >
    <div><span class="card-title fmdataname" >{{formRecordname}}</span></div>
        <div class="card"  *ngIf="formhtmlcontentdiv">
        <div class="card-body ">
      <div    [innerHtml]="formrecordhtml | sanitizeHtml">
      </div>
      <div  style="text-align:center;margin-right: 35%;"  *ngIf="updateButton">
          <button type="button" class="btn btn-success btn-sm" id="formupdateById" (click)="formDatabyname('update')">save</button>
          <button type="button" class="btn btn-success btn-sm" id="formupdateById" (click)="formDatabycancel()">cancel</button>
      </div>
  </div>
</div>
</div>
</div>
</div>
<button style="display:none;" id="formdataNameId" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#formNameModal">Open Small Modal</button>
  <div class="modal fade" id="formNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true "
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog " role="document " style="width:320px">
    <div class="modal-content ">
      <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="Form Name"  [(ngModel)]="formdataname" [ngModelOptions]="{standalone: true}">

      </mat-form-field>
      <span *ngIf="validFormDataName" style="color: red;font-size:12px;"><strong>Please Enter Form Name</strong></span>
      <div class="modal-footer">
        <button type="button " class="btn btn-sm btn-primary common_btn addbtn" id="okbtnform" data-dismiss="modal" (click)="saveFormData();">Save</button>
        <button type="button "  class="btn btn-sm btn-primary common_btn addbtn mr-auto"  data-dismiss="modal">cancel</button>
      </div>
    </div>
  </div>
 </div>
