.panel1{
  border-left: 3px solid #F29F24;
}
.panel2{
  border-left: 3px solid #EF1C8D;
}
.panel3{
  border-left: 3px solid #A21BE5;
}
.panel4{
  border-left: 3px solid ;
}
.panel5{
  border-left: 3px solid #F4274C;
}
.card{
  background-color: #DDDBD7;
}

.SmallInput { width: 80px;
  height: 20px;
  font-size: 14px !important;
}

.labelCenter{
  padding-left: 30px
  }

  .inputcards{
    background-color: #D1FCFF
  }
